@import '../variables';

.header {
  border-bottom: 1px solid $gray-line;
  padding: 40px 0;
  background-color: #15171c;
 
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 992px) {
      flex-direction: column;
    }
    .header__cart {
      margin-top: 20px;
    }
  
  }

  &__logo {
    display: flex;

    img {
      margin-right: 15px;
    }

    h1 {
      @media (max-width: 992px) {
        margin-top: 5px;
      }
      color: #e8e8e8;
      font-size: 24px;
      letter-spacing: 1%;
      text-transform: uppercase;
      font-weight: 800;
    }

    p {
      color: #7b7b7b;
    }
  }
}

